<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body style="background-color: lightgrey;">
    <p class='text-center text-3xl mt-8'>Thank You for Shopping with Cricket Kart<br><br>Your order would be delivered soon......</p>


    <script>setTimeout(function(){window.location.href = 
    "/index"}, 4 * 1000);</script>';

</body>

</html>